
body{

    color: #2f3e46;

}
.card{
    display: block;
    margin: 60px auto;

    width: 350px;
    height: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);


}

.dottedBorder{
    border: 2px dotted black;
    
}

.graySquare{

    background-color: #cad2c5;
    height: 455px;
    width: 290px;
    
    padding: 30px;
    
    
}

.avatar{
    display: block;
    width: 285px;
    margin-bottom: 25px;
    
     
}

.graySquare2{
    
    border-right: 5px solid #52796f;
    padding-right: 25px;
    width: 290px;
}

.name{

    text-align: right;
    font-size: 24px;
    
    font-family: "Amita", serif;
    font-weight: 700;

    margin-right: 4px;
    margin-bottom: 0px;
    margin-top: -20px;

}

.designation{

    text-align: right;
    font-size: 13px;
    letter-spacing: 3px;


    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #52796f;

    padding-right: 25px;
    margin-top: 6px;
    
}

.seperator{
    border-bottom: 0.5px solid #52796f;
    margin: 0 -30px 0 100px;
}

.hello{
    font-family: "Great Vibes";
    font-size: 25px;
    margin-top: -15px;
    color:#2f3e46;
    margin-bottom: 0px;
}

.content{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 9px;
    font-style: italic;
    text-align: justify;
    color: #52796f;
}

.logoicon{
    width: 20px;
    transition: transform 0.3s;
    

}

.logoicon:hover{
    transform: scale(1.5);

}

.logo a{
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;

}

